body {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --layout-width: 81.25rem; // 1300px
  --layout-padding: 5rem; // 80px
  --layout-v-padding: 3.75rem; // 60px
}

.container {
  padding: 1rem;
  background: rgb(233, 233, 233);
}
