body {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --layout-width: 81.25rem; // 1300px
  --layout-padding: 5rem; // 80px
  --layout-v-padding: 3.75rem; // 60px
}

.l-default,
.l-wide {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.l-default {
  @media all and (max-width: 1399px) {
    padding: 0 var(--layout-padding);
  }
  @media all and (max-width: 1199px) {
    --layout-padding: 1.875rem; // 30px
    --layout-v-padding: 2.5rem; // 40px
  }
  @media all and (max-width: 767px) {
    --layout-padding: 1rem; // 16px
    --layout-v-padding: 2rem; // 32px
  }
}

.l-wide {
  --layout-width: 96.25rem; // 1540px
  --layout-padding: 1.875rem; // 30px

  padding: 0 var(--layout-padding);

  @media all and (max-width: 767px) {
    --layout-padding: 1rem; // 16px
  }
}

.container {
  padding: 1rem 10rem;
  background: rgb(240, 225, 64);
}

.title {
  color: rgb(36, 216, 36);
}
