@import '@/assets/styles/tools/mixins';

.s-header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  min-height: rem(50);
  padding: rem(10) 0;
  background-color: var(--color-yellow);
}
